@page
@model DemoApp.Pages.CreateModel
@{
}
<div class="container">
    <h3>Add Task</h3>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label>Description</label>
                <input asp-for="Task.Description" class="form-control" />
                <span class="alert-danger" asp-validation-for="Task.Description"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>CreationOn</label>
                <input asp-for="Task.CreatedOn" class="form-control" />
                <span class="alert-danger" asp-validation-for="Task.CreatedOn"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>IsDependOn</label>
                <input asp-for="Task.IsDone" class="form-control" />
                <span class="alert-danger" asp-validation-for="Task.IsDone"></span>
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="/Index">Cancel</a>
    </form>
</div>
